.PageHeader-container {
  text-align: center;
}

.PageHeader-h1 {
  color: var(--title-color);
  margin-bottom: 36px;
  font-size: 3em;
  line-height: 60px;
  font-weight: 600;
}

.PageHeader-h4 {
  margin-bottom: 24px;
  margin-top: 3.5em;
  color: var(--emphasis-color);
}

.PageHeader-paragrafo {
  color: var(--text-color);
  margin-left: 18em;
  margin-right: 18em;
}
